body {
    font: 100% Lucida Sans, Verdana;
    margin: 20px;
    line-height: 26px;
}
 
.wrapper {
    position: relative;
    overflow: auto;
}

.top {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 15px;
}
 
.menubar {
    width: 200px;
    float: left
}
 
.main {
    padding: 10px;
    margin: 0 210px;
}
 
.sidebar {
    background-color: #32a4e7;
    color: #ffffff;
    padding: 10px;
    width: 180px;
    bottom: 0;
    top: 0;
    right: 0;
    position: absolute;
}
 
.bottom {
    border: 1px solid #d4d4d4;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
}